
/* Style define of  BoxContainer */
.box-container{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}
/*  End of BoxContainer */

/* Style Define of Container */
.container{
     gap: 3px;
     display: grid;
     grid-template-columns: repeat(3 ,80px);
     grid-template-rows: repeat(4, 50px);
}
/*  End of Container  */

/* Box */
.box{
 background-color: rgb(118, 6, 155);  
 border-radius: 3px;
  color: white;
  display: grid;
  place-content: center;
  text-align: center;
}
/* End of box */

/* Box1  */
.box1{
    grid-column: span 2;
    grid-row: 2 / span 3;
}
/* End of box1 */